// Specific CSS for your home-page
.container {
  width: 1000px;
  margin: 0 auto;
}

.card {
  width: 300px;
  height: 350px;
  margin: 10px;
  box-shadow: 4px 4px 8px black;
}

.card-info {
  height: 325px;
  background-color: rgb(200, 200, 200);
}

.card-info h3 {
  height: 75px;
}

.card img {
  width: 100%;
  height: 200px;
}

.info {
  height: 25px;
}

.present a {
  text-decoration: none;
  color: black;
}
